@font-face {
  font-family: 'fontc9f309b3d47969ecac64a77a6c672594';
      
      src:    url('https://nomail.com.ua/files/eot/c9f309b3d47969ecac64a77a6c672594.eot?#iefix') format('embedded-opentype'),
              url('https://nomail.com.ua/files/woff/c9f309b3d47969ecac64a77a6c672594.woff') format('woff'),
              url('https://nomail.com.ua/files/woff2/c9f309b3d47969ecac64a77a6c672594.woff2') format('woff2');
  }
  
  @font-face { font-family: 'NexaBold';  src: local('NexaBold'), url('https://nomail.com.ua/files/woff/c9f309b3d47969ecac64a77a6c672594.woff') format('woff'); }@font-face {
  font-family: NexaHeavy; 
  src: url("./text/nexabold.ttf");
 }
*{
  padding: 0;
  margin: 0;
}
body{
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  box-sizing: border-box; 
  background: #EBEBEB;
  font-family: arialMT,AdobeInvisFont,MyriadPro-Regular;
  font-weight: 500;
}
header{
display: flex;
flex-direction: column;
}
#logo{
  font-family:'NexaBold';
 width: 100%;
height: 67px;
background-color: #373737;
display: flex;
align-items: center;
 } 
 #logo img{
  display: block;  
  position: absolute;
  margin-left: 338px;
 }
 #logotype {
display: flex;
justify-content:center;
color: #FFFFFF;
font-size: 40px;
margin-left: 319px;
width: 75px;
height:67px ;
background: #F26C4F;
z-index: 1;
   }
 p{ margin-left: 30px ;
color: #FFFFFF;
font-size: 18px;
    
 }
 #menu {
  height: 65px;
  width: 100%;
  background: #474747;

}

#menu a {
  text-decoration: none;
  color: #ffffff;
  font-size: 12px;
}

#menu a:hover {
  padding-bottom: 22px;
  color: #f26c4f;
  border-bottom: 3px solid #f26c4f;
}

#menu ul {
  list-style: none;
  display: flex;
  padding-top: 22px;
  margin-left: 345px;
}

#menu li {
  list-style: none;
  margin-right: 30px;
  border-right: 1px solid #767676;
  padding-right: 20px;
}

#menu li:last-child {
  border: none;
}

