 #block1{
  display: flex;
  flex-direction: row;
  align-items: center;
}
#d-search {
    position: relative;
    left: 313px ;
    top: 15px;
  
}
.search {
    margin-left: 5px;
    padding-left: 15px;
    color: #474747;
    width: 301px;
    height: 47px ;
  }
.clockred{
    height: 23px;
    width: 23px;
    position: absolute;
    display:inline-block;
    left: 285px ;
    bottom: 15px;
    z-index: 1;
  }

  #socials { 
    display: flex;
    justify-content: flex-end;
    height: 15px;
    width: 303px;
    margin-left: 638px;
    margin-top: 27px;
  }
  
  .social{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: #8F8F8F;
    cursor: pointer;
    text-decoration: none;
    font-size: 12px;
    margin-left: 40px;
  }
  .social img{
    padding-right: 5px;
  }
  .social:hover {
    color:#F26C4F;
      }
  #block2{
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    #bridge{
    display: flex;
    justify-content: center;
    margin-top: 24px;
    margin-left: 318px;
    }

    #bridge img{
    width: 632px;
    height: 392px;
    border-right: 10px solid #f26c4f;
}
    
.goodinc {
  display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      Width:372px;
      Height:63px;
      background: #37373760;
      color: #ffffff;
      font-family: ArialMT, AdobeInvisFont, MyriadPro-Regular;
      font-size: 16px; 
      margin-top: 329px;
      margin-left: -382px;
    }
    
    #arrow{
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      margin-bottom: 250px;
      margin-left: 5px;
     
    }

    #description {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 312px;
      height: 392px;
      margin-top: 24px;
      margin-left: -7px;
      background: #373737;
      color: #A7A7A7;
    }
    .desc {
      font-size: 19px;
      width: 179px;
      height: 63px;
      text-align: left;
      margin-left: 0;
      margin-top: 40px;
    }
    
    .descr {
      display: block;
      width: 220px;
      height: 104px;
      font-size: 12px;
      padding-top: 20px;
      padding-left: 34px;
      line-height: 1.5;
    }
    .time{
display: flex;
justify-content:center;
align-items: center;
font-family: arialMT,AdobeInvisFont,MyriadPro-Regular;
font-size: 12px;
background-color: #373737;
margin-left: 125px;
        }

.time img{
padding-right: 5px;
}
#block3{
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: space-between;
margin-left: 318px;
margin-top: 1%;
width: 953px;
height: 380px;
color: #4F4F4F;  
}
.triangle{
position: absolute;
height: 0;
width: 0;
margin-left: 133px;
margin-top: -7px;
border: 50px solid ;
border-bottom:50px solid #F26C4F;
border-top:0px solid transparent;
border-left:50px solid transparent;
border-right:50px solid  transparent;
transform: rotate(45deg);
}
.photo{
  margin-top: -16px;
}
.plus{
  position: relative;
  left: 130px;
  top: 15px;
}
.taste,
.awesome,
.looking
{
display: flex;
flex-direction: column;
align-items: center;
width: 301px;
height: 380px;
background-color: #FFFFFF;
}
#block3 h1{
display: flex;
align-items: center;
width: 196px;
height: 51px;
font-size: 25px;
 margin-top: 20px;
margin-left: -35px;
}
.blocktext{
display: flex;
align-items: center;
justify-content: center;
font-size: 14px;
width: 196px;
height: 35px;
margin-top: 20px;
margin-right: 35px;
}
.hovertext{
 display: none;
font-size: 14px;
width: 196px;
height: 51px;
}
.blocktext:hover +.hovertext {
display:inline-block;
font-size: 12px;
}
#block4{
  display: flex;
  flex-direction: row;
  margin-left: 318px;
margin-top: 1%;
width: 953px;
height: 809px;
color: #474747;

}
.mount{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 582px;
  width: 303px;
  background: #373737;
  margin-left: 25px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}
.mount img{
  position: relative;
}
.mount .triangle{
  position: absolute;
  height: 0;
  width: 0;
  margin-left: 235px;
  border: 50px solid ;
  border-bottom:50px solid #F26C4F;
  border-top:0px solid transparent;
  border-left:50px solid transparent;
  border-right:50px solid  transparent;
  transform: rotate(45deg);
  }
.mount .plus1{
  position: relative;
  top: -280px;
  left: 273px;
}
.nice{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 196px;
  height: 55px;
  font-size: 25px;
  margin-top: 10px;
  margin-left: 36px;
}
.nice1{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  width: 196px;
  height: 120px;
  margin-top: 15px;
  margin-left: 36px;
  }
.nicehover{
  display: none;
 width: 196px;
 height: 65px;
 font-size: 11px;
 margin-left: 36px;
 }
 .nice1:hover +.nicehover {
 display:inline-block;
 font-size: 11px;
 }
 .kill{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 13px;
  width: 301px;
  height: 199px;
  margin-top: 597px;
  margin-left: -303px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.699);
}
.Housework{
  display: inline-block;
  font-size: 19px;
  margin-top: 10px;
}
.Housework1{
  margin-top: 10px;
}
.Houseworkhover{
display: none;
font-size: 12px;
}
.Housework1:hover + .Houseworkhover{
  display: block;
font-size: 12px;
}
.data{
  display: block;
  margin-top: 20px;
}
.Housewor1:hover + .data{
  margin-top: 20px;
  display: none;
}

.GoodChoice{
display: flex;
flex-direction: row;
Width:623px;
height: 809px;
}
/*  */
.inform1, .inform2{
display: flex;
flex-direction: column;
align-items: flex-start;
Width:623px;
Height:174px;
background-color: #ffffff;
border-left: 4px solid #CE4E32;
margin-bottom: 7px;
}
.bq{
  display: flex;
  justify-content: center;
  font-size: 14px;
  width: 496px;
  height: 35px;
  margin-top: 15px;
  margin-left: 36px;
}
.inform1:hover, .inform2:hover,
.inform3:hover, .inform4:hover,
.inform5:hover, .inform6:hover,
.inform7:hover{
  background: #f26c4f;
  color: #ffffff;
}
.headh2{
  margin-top: 10px;
  margin-left: 35px;
}
.socials1 {
  height: 15px;
    width: 580px;
    margin-left: 38px;
    margin-top: 15px;
}

.socials1 a {
  text-decoration: none;
  color: #8F8F8F;
  font-size: 12px;
}

.socials1 a:hover {
  color: #ffffff;
}

.socials1 ul {
  list-style: none;
  display: flex;
}

.socials1 li {
  list-style: none;
  margin-right: 30px;
  border-right: 1px solid #767676;
  padding-right: 20px;
}

.socials1 li:last-child {
  border: none;
}
.social1 img{
  padding-right: 5px;
}
/*  */
.inform3 {
  display: flex;
  flex-direction: column;
  Width:623px;
  Height:99px;
  background-color: #ffffff;
  border-left: 4px solid #CE4E32;
  color: #474747;
  margin-bottom: 7px;
  }
  /*  */
  .inform4, .inform5,
  .inform6, .inform7{
    display: flex;
    flex-direction: column;
    Width:623px;
    Height:77px;
    background-color: #ffffff;
    border-left: 4px solid #CE4E32;
    color: #474747;
    margin-bottom: 7px;
    }
    .getas{
      font-size: 18px;
      font-weight: 700;
 margin-top: 10px;
  margin-left: 35px;
    }
    #block5{
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      margin-left: 318px;
      margin-top: 1%;
      width: 953px;
      height: 1900px;
      color: #4F4F4F;  
      }
      .read {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 627px;
        height: 60px;
      }
      
      .more {
        color: #bdbdbd;
        font-size: 14px;
        text-transform: uppercase;
        margin-top: 10px;
        cursor: pointer;
      }
      .more:hover {
        color: #f26c4f;
      }
      
      .plusboll {
        margin-top: 10px;
      }
    
      .nice_text {
        display: flex;
        flex-direction: column;
        width: 627px;
        height: 336px;
        background: #ffffff;
        margin-left: px;
        margin-top: 24px;
      }
      
      .niceh1 {
        width: 308px;
        height: 29px;
        font-size: 30px;
        color: #707070;
        margin-top: 30px;
        margin-left: 36px;
      }
      
      .nices {
        width: 525px;
        height: 215px;
        color: #707070;
        font-size: 17px;
        margin-left: 36px;
        margin-top: 24px;
      }
      
      .orange {
        color: #f26c4f;
      }
      
      .like {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        width: 627px;
        height: 40px;
        background: #efefef;
        margin-top: 1px;
      
      }
      
      .dataapril {
        color: #a2a2a2;
        font-size: 12px;
        margin-left: 40px;
      }
      
      .likenumber {
        color: #a2a2a2;
        font-size: 12px;
        margin-left: 480px;
      }
      
      .like_img {
        margin-left: 10px;
      }
      
      .long {
        display: flex;
        justify-content: start;
        flex-direction: column;
        width: 627px;
        height: 614px;
        background: #ffffff;
        margin-top: 30px;
      }
      
      .like_long {
        width: 505px;
        height: 99px;
        color: #707070;
        margin-left: 52px;
        margin-top: 39px;
      }
      
      .lorem {
        width: 485px;
        height: 109px;
        color: #949494;
        font-size: 17px;
        margin-top: 26px;
        margin-left: 51px;
      }
      
      .box {
        display: flex;
        justify-content: start;
        flex-direction: column;
        width: 627px;
        height: 483px;
        background: #ffffff;
        margin-top: 31px;
      }
      
      .boxh1 {
        color: #707070;
        font-size: 30px;
        margin-left: 51px;
        margin-top: 50px;
      }
      #boxs {
        width: 525px;
        height: 324px;
        color: #949494;
        font-size: 17px;
        margin-top: 25px;
        margin-left: 51px;
      }
.block51{
  width: 303px;
  height: 980px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 13px;
}
.Myfake{
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
}
.Myfake1{
  display: inline-block;
  margin-top: 15px;
}
.information {
  display: flex;
flex-direction: column;
Width:303px;
height: 250px;
margin-top: 35px;
}
.information1, .information2,
.information3, .information4{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  Width:300px;
  Height:45px;
  background-color: #ffffff;
  border-left: 4px solid #CACACA;
  color: #373737;
  margin-bottom: 7px;
  }
  .infh3{
    font-size: 18px;
    margin-left: 20px;
  }
  .infh3:nth-child(4){
    font-weight: 400;
  }
  .inf-p{
    margin-left: 15px;
  }